#overlay-feedback { display:none; padding:35px 30px; width:auto; min-height:inherit; color:#111; background:#fff; }
#overlay-feedback h1 { padding-bottom: 10px; margin-bottom:20px; font-size:16px; line-height:16px; font-family: 'Open Sans', sans-serif; font-weight:bold; font-style:normal; text-transform: uppercase; color:#9a1212; border-bottom:solid 1px #9a1212; }
#overlay-feedback p { margin-bottom:30px; }
#overlay-feedback .subscribe-input {float:left; background: #d2cccc; border:1px solid #cbc5c5; border-right:0; padding:9px 12px; height: 15px;}
#overlay-feedback .subscribe-input .validation-advice {overflow:hidden;position:absolute;width: 23px;height: 21px;margin:-34px 0 0 -24px;padding:0;background: url(../images/error.png) 0% 0% no-repeat;line-height: 100px;}
#overlay-feedback .subscribe-input input{background-color:transparent !important; color:#696868; border:none !important; font-size: 12px; line-height: 15px; height: 15px; width: 160px; padding: 0; }
#overlay-feedback button.button span { background: #9a1212;   }
#overlay-feedback button.button span span { font-family: Arial, sans-serif; font-size: 12px; text-transform: lowercase; }
#overlay-feedback button.button:hover span { background:#e9e9e9 !important; color:#111; }
#fdb_submit_btn { float:left; }
#fdb_error { float:left; margin:10px 20px; padding:0; }
